# Auto detect text files and perform LF normalization
* text=input

# Binary assets must not be subjected to line-ending normalization
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary