name: Nanobind

on:
  # TODO probably change/add main later. Ah, perhaps this wf can be part of linux.yml?
  push:
    branches: [ "nanobind" ]
  # pull_request:
    # branches: [ ]

jobs:
  build:
    name: "Build Python interface"
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Python setup
      uses: actions/setup-python@v5
      with:
        python-version: '3.11.9'

    - name: Install dependencies
      run: |
        sudo apt-get install -y libarpack2-dev libcxxopts-dev libfmt-dev python3.11-dev
        python -m pip install nanobind numpy

    - name: Install Eigen 5
      run: |
        wget https://gitlab.com/libeigen/eigen/-/archive/5.0.0/eigen-5.0.0.tar.gz
        tar xzf eigen-5.0.0.tar.gz
        cd eigen-5.0.0
        cmake -B build
        sudo cmake --install build

    - name: Configure
      run: cmake -B ${{github.workspace}}/build -DBUILD_NANOBIND=ON

    - name: Build
      # TODO there are A LOT of warnings in the logs from nanobind (-pedantic, -Wshadow).
      run: cmake --build ${{github.workspace}}/build

    - name: Test
      working-directory: ${{github.workspace}}
      run: PYTHONPATH=. python test/test_nanobind_extension.py
